aniso8601==7.0.0
asgiref==3.3.1
Django==3.1.7
et-xmlfile==1.0.1
factory-boy==3.2.0
Faker==6.5.0
graphene==2.1.8
graphene-django==2.15.0
graphql-core==2.3.2
graphql-relay==2.0.1
jdcal==1.4.1
numpy==1.20.1
openpyxl==3.0.6
pandas==1.2.2
promise==2.3
python-dateutil==2.8.1
pytz==2021.1
Rx==1.6.1
singledispatch==3.6.1
six==1.15.0
sqlparse==0.4.1
text-unidecode==1.3
